@font-face{
    font-family: 'poppins';
    src: url("/assets/font/Poppins/Poppins-Light.ttf");
    font-weight: 300;
}

@font-face{
    font-family: 'poppins';
    src: url("/assets/font/Poppins/Poppins-Regular.ttf");
    font-weight: 400;
}


@font-face{
    font-family: 'poppins';
    src: url("/assets/font/Poppins/Poppins-Bold.ttf");
    font-weight: 700;
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
    color: #212529;
    font-weight: 300;
    width: 100%;
}

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
}

.left-wrapper{
    text-align: left;
}


a{
    text-decoration: none;
    color: #1c1c1c;
}

a:hover{
    color:rgb(253, 133, 76) ;
    text-decoration: none;
    cursor: pointer;
}


.btn{
    background: linear-gradient(to right, rgb(253, 133, 76), rgb(253, 133, 76));
    border-color: rgb(253, 133, 76);
    cursor: pointer;
    padding: 13px 20px;
    vertical-align: middle;
}

.def-btn{
    display: inline-block;
    color: white;
    margin-left: 5.5px;
    font-weight: 600;
    padding: 9px 20px;
    background: rgb(253, 133, 76);
    border-radius: 4px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.wrapper{
    text-align: center;
}

.inline{
    display: inline-block;
}

.input-group-text{
    padding: 4px 8px;
}

.fullView-flex{
    background-image: url("../assets/images/new-bg.jpeg");
    background-repeat: repeat-x;
    background-size: contain;
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.input-group input{
    min-height: 37px;
    padding: 5.5px 11px;
    width: 100%;
}

.div{
    width: 100%;
}

button[type=submit]{
    width: 100%;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    font-family: 'poppins', sans-serif;
    color: #fff;
}

.card{
    min-height: 200px;
    min-width: 320px;
    max-width: 420px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 20px, rgba(0, 0, 0, 0.01) 0px 10px 20px;
    padding: 30px 50px;
    border-color: rgb(245, 245, 245);
    margin-top: 20px;
    text-align: center;
}

.p-5{
    padding: 5.5px 11px !important;
}

*::placeholder{
    font-size: 14px;
}

.btn:hover, a.btn:hover {
    color: #fff;
    background: linear-gradient(to right, rgb(255, 100, 16), rgb(255, 100, 16));
}


.second-sect-text{
    min-width: 320px;
    max-width: 379px;
    max-height: max-content;
    word-wrap: break-word;
    margin: 20px auto;
    padding: 11px 15px;
    background-color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}

.second-sect-text p{
    margin-bottom: 11px;
}

.reset{
    font-size: 8.8px;
}

.title-login{
    font-size: 22px;
    font-weight: 400;
}

.fPassword{
    margin-bottom: 22px;
}

/* signup page */

.form-check {
    margin: 4px 0;
}

/* Signed in styling  */

.bg-black{
    width: 190px;
    min-height: 100vh;
    padding-top: 25px;
    box-shadow: rgba(100, 100, 100, 0.1) 2px 0px 18px;
    overflow-y: auto;
    background: rgb(26, 26, 26);
    transition: margin-left 0.5s ease 0s;
    z-index: 4;
    position: relative;
}

.black-fixed{
    position: fixed;
    top: 0;

}
.nav-img{
    display: block;
    margin-left: 5px;
    margin-bottom: 16px;
    width: 150px;
}

.nav-link{
    text-decoration: none;
    color: #fff;
}
.nav-link:hover, .nav-item i:hover{
    color: rgb(253, 133, 76);
}
.nav-link:active{
    color: rgb(253, 133, 76);
}

.nav-item i:hover{
    color: rgb(253, 133, 76);
}
.nav-item i:active{
    color: rgb(253, 133, 76);
}

.nav-link {
    width: max-content;
    font-size: 14px;
    color: #fff;
    padding-left: 15px;
    -webkit-transition: all .1s;
    transition: all .1s;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease;
    transition-delay: 0s;
    margin-bottom: 8px;
}

.nav-link i{
    color: #fff;
    font-size: 14px;  
}

.wallet-sect p {
    font-size: 20px;
    padding-top: 3px;
    padding-left: 10px;
}


.wallet-sect i, .wallet-sect p {
    font-weight: bold;
    line-height: 1;
    color: rgb(33, 33, 33);
    margin: 0px;
    padding: 0px;
    display: inline;
}


.flex-dash{
    display: flex;
    flex-direction: row;

}


.flex{
    display: flex;
    flex-direction: row;
    width: 100%;
}


.w-100{
    width: 100%;
}

.notification{
 display: inline;
 margin: 0 5px;
 margin-left: 25px;
 display: flex;
 flex-direction: row;
 margin-bottom: auto;
}

.notification i {
    font-size: 20px;
    color: black;
    margin-top: auto;
    margin-bottom: auto;
}

.welcome-greet a{
    width: max-content;
}
.notification-count{
    position: relative;
    left: -5px;
    color: white;
    max-width: 20px;
    max-height: 20px;
    font-size: 10px;
    text-align: center;
    line-height: 10px;
    background: rgb(253, 133, 76);
    border-radius: 50%;
    padding: 5px;
}


.fixed{
    position: fixed;
    z-index: 4;
    width: max-content;
    box-sizing: border-box;
    top: 0;
}


.relative{
    position: relative;
    -webkit-transform: translateZ(0);
} 

.top-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    padding: 15px 10px;
    margin-right: 20px;
    background-color: #fff;
    height: max-content;
    position: fixed;
    top: 0;
    /* box-sizing: border-box;
    top: 0;
    right: 0; 
    z-index: 4; */
}

.exit-message{
    display: flex;
    flex-direction: column;
}

.exit-m{
    font-weight: 700;
    font-size: 11px;
}

.exit{
    position: relative;
    top: -13px;
    color: #a5a4a5;
    font-size: 15px;
}

.exit:hover{   
    position: relative;
    top: -13px;
    color: #a5a4a5;
    font-size: 15px;
}

/* deposit main body styling */

.body{
    margin: 0;
    padding-top: 100px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(242, 245, 247);
    min-height: 100vh;
}

.two-factor{
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;

}

.alert{
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.dash-btn{
    font-size: 16px;
}

.alert-link{
    color: #1c1c1c;
}

.alert{
    display: flex;
    align-items: center;
    width: auto;
}

.dash-big-title{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 5.5px;
}

.sub-dash-text{
    color: #0c5460;
}

.deposit-select{
    width: 25%;
}

.w-30{
    width: 30%;
}

select{
    min-width: 145px;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    height: 34px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 10px;
}

option{
    font-size: 1rem;
    padding: 5px;
    margin: 5px 0;
}

.depo-table{
  overflow-y: auto;
  width: 100%;
  display: table;
  table-layout: fixed;
  overflow: auto;
}

.table-deposit{
    width: 100%;
}

tr th{
    border-top: none;
    text-align: center;
    color: #acacac;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    overflow: hidden;
    width: 100px;
}
tr td{
    border: 1px solid #ededed;
    text-align: center;
    height: 46px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* padding: 50px 0; */
    font-size: 15px;
    white-space: unset;
    align-items: center;
}

.table-btn{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    max-width: 213px;
    width: 100%;
    min-height: 46px;
    height: 100%;
    border: 0;
    border-radius: 3px;
    padding: 6px;
    color: rgba(0,0,0,.6);
    background: rgba(0,0,0,.1);
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

.table-btn-sect{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: #fff;
    padding: 3px;
    align-items: center;
    height: max-content;
}

#page-show{
    min-width: 40px;
    max-width: 70px;
    height: 36px;
    text-align: center;
    margin: 0 3px;
    background-color: #fff;
    padding: 0;
}

.show-case{
    display: flex;
    height: max-content;
    align-items: center;
}

#table-row{
    width: 100%;
    max-width: 92px;    
    max-height: 31px;
    height: calc(1.5em + .75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-top: auto;
    margin-bottom: auto;
}

/* dashboard */
.block-links{
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

.block-link{
    padding: 5px;
    min-width: 20%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    border-width: 1px solid rgb(245, 245, 245);
    border-radius: 3px;
    transition: all 0.3s ease 0s;
}

.block-link:hover{
    border:1px solid rgb(253, 133, 76) ;
}

.dash-table{
    width: max-content;
    margin-top: 30px;
}


.dash-table table th{
    text-align: left;
    white-space: nowrap;
}


.dash-table table td{
    text-align: left;
    white-space: nowrap;
}

/* accounts */
.accounts{
    font-size: 30px;
}

/* withdraw */

.withdrawal-message{
    margin-top: 5.5px;
    color: #17a2b8;
}

/* docs */

#docs{
    display: none;
}

.docs-img{
    min-width: 320px;
    max-width: 100%;
    height: 304px;
    border: 2.5px dashed rgb(253, 133, 76);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#kyc-btn{
    margin-top: 10px;
    max-width: 180px;
    min-height: 40px;
    border: 2px solid black;
}

/* notification */

.notification-bars{
    text-align: left;
    width: 100%;
    display: flex;
    background-color: rgba(253, 133, 76, 0.1);
    padding: 0.5em;
    justify-content: space-between;
    align-items: center;
}

.w-25 i{
    margin-left: auto;
    color: rgb(253, 133, 76);
    font-size: 16px;
}

.notif-btn-group{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 3px solid white;

}

.notif-btn{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 50%;
    min-height: 46px;
    height: 100%;
    border: 0;
    border-radius: 3px;
    color: rgba(61, 59, 59, 0.6);
    background: rgba(0,0,0,.1);
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

/* seeting */

.setting-card{
    border: 1px solid grey;
    border-radius: 3px;
    max-width: max-content;
    min-width: 300px;

}

.col{
    display: flex;
    flex-direction: column;
}

.two-factor-main .btn{
    text-align: left;
    max-width: max-content;
    min-width: 300px;
}

.show-mob{
    display: none;
}


.close{
    display: none;
}

.footer{
    margin-top: 20px;
    margin-left: 10px;
}


.logo-img{
    margin-top: 40px;
}

.int-trans-select{
    max-width: 30%;
}



@media all and (max-width: 760px){

    .show-mob{
        display: block;
    }
    .welcome-greet{
        display: none;
    }

    .top-menu{
        max-width: max-content;
    }

    .close-menu{
        margin: 10px;
   }

   .close {
    color: #fff;
    font-size: 20px;
    position: fixed;
    z-index: 40;
    left: 10px;
    top: 10px;
    border: none;
    background: transparent;
    }

    .close:hover{
        color: #fff;
    }

    .open{
        font-size: 20px;
        border: none;
        background: transparent;
    }

    .logo-img{
        margin-top: 40px;
    }

    .nav-img{
        display: none;
    }

    
    .close{
        display: block;
    }

    .int-trans-select{
        width: 30%;
    }

    .bg-black{
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 400;
        display: none; 
        transition-property: margin-left;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0.1s;

    }

    #openBtn {
        align-self: center;
        padding-top: 2px;
    }

    .wallet-sect{
        position: relative;
        left: 0;
    }

    .acc-table{
        display: block;
        max-width: 100%;
        overflow: scroll;
    }

    .acc-table tr th{
        min-width: 100px;
    }

    .body{
        padding: 80px 10px;
    }

    .main-dash-table tbody tr td{
        text-align: left;
        white-space: wrap;
        overflow: hidden; 
        text-overflow: ellipsis; 
        word-wrap: break-word;
    }

    .main-dash-table thead tr th {
        white-space: pre-wrap;
    }

    .sm-w-100{
        width: 100% !important;
    }

    .deposit-select{
        width: 100%;
    }


    .flex{
        flex-wrap: wrap;
    }

    .int-trans-select{
        min-width: 100%;
    }

}

@media all and (max-width:320px){
    .main-dash-table{
        width: 50;
    }

    .th-issue{
        white-space: pre-wrap !important;
    }
}

@media all and (max-width: 733px){
    .fullView-flex{
        background-size: cover;
    }

    .block-link{
        width:100% ;
    }
}

